body{
	background: #999;
	color: white;
	font-family: Verdana, Helvetica,sans-serif;
}
.container {
	max-width: 800px;
	background-color: black;
	padding: 30px 25px 25px 25px;
	margin: 10px auto;
}

.row {
	border-bottom: 1px solid white;
	padding: 20px 0px 20px 0px;
	margin: 0px 10px;
}

img {
	padding-right: 10px;
	
}

ul {
	list-style-type: none;
	float: left;
	padding: 0px;
	
}


.profile .pic img {
	border-radius: 100%;
}

.social {
	float: left;
}

h1 {
	font-size: 36px;
	line-height: 50px;
	padding-top: 0px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.5px;
}

h2 {
	font-size: 21px;
	text-align: center;
	font-weight: 400;
	line-height: 100%;
	margin-top: 5px;
	letter-spacing: 0.5px;
}

/*h3 {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}*/


.name {
	margin-top: 0px;
	padding:10px;

}